*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container{
    display: none;

}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
.sidebar{
    color: red;
    width: 32rem;
    height: 100vh;
    position: fixed;
}

.offcanvas-body{
    background: linear-gradient(to bottom, #2859ed 0%, #0a51ba 100%);
    height: 100%;
}
.btn-close{
    background-color: #fff;
    color: #fff;
}
.offcanvas-title{
    color: #fff;
    font-weight: 600;
    font-size: 2.8rem;
}

.offcanvas-body a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 6rem;
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .5s;
    list-style-type: none;
    text-decoration: none;
}

.offcanvas-body a:hover {
    background: linear-gradient(to bottom, #103090 0%, #0e4291 100%);
    padding-left: 4rem;
}
.active{
    background: linear-gradient(to bottom, #103090 0%, #0e4291 100%);
    padding-left: 6rem;
}

.offcanvas-body a i {
    margin-right: 1rem;
    font-size: 2.5rem;
}

/* Side navbar CSS end */

/* user info CSS starts */
.user-info{
    width: 100%;
    height: 64rem;
    
}
.user-img{
    margin: 2rem auto;
    border-radius: 50%;
    margin: 0rem 5rem;
}
.text{
    background: linear-gradient(to bottom, #103090 0%, #0e4291 100%);
    font-size: 2rem;
}

/* Profile */
.profile{
    margin-left: 32rem;
    margin-bottom: 10rem;
}
.profileimage img{
    margin-left: 52.8rem;
    border-radius: 50%;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.profile a i{
    position: absolute;
    top: 3rem;
    color: #000;
    font-size: 3rem;
    background-color: #79afff;
    padding: 1rem;
    border-radius: 50%;
    right: 10rem;
}
.userdata{
    margin-left: 12.8rem;
}
.userdata .rightside{
    margin-left: 11.2rem;
}
.userdata p{
    color: rgb(187, 177, 177);
    margin-top: 3.2rem;
    font-weight: 600;
    font-size: 1.4rem;
}
.userdata h4{
    border-bottom: .2rem solid gray;
    width: 43.2rem;
    /* font-weight: 500; */
    color: #000;
    padding-bottom:1.6rem;
    font-size: 2rem;
}
.userdata button{
    position: absolute;
    top: 63rem;
    padding-inline: 3rem;
    left: 88rem;
    font-size: 2rem;
}
input{
    font-size: 2rem;
    border: none;
    border-bottom: .2rem solid gray;
    width: 43rem;
    outline: none;
    padding-bottom: 1rem;
}