 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet:wght@600&family=Lora:ital@1&family=Merriweather:wght@900&family=Poppins:wght@200&family=Raleway:wght@100&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
     font-family: 'Poppins', sans-serif;
 }

 form {
     height: 58rem;
     width: 50rem;
     background: #fff;
     border-radius: 10px;
     margin: 8rem auto;
 }

 .bob {
     width: 40rem;
     height: 4rem;
     margin: 10px 40px;
     padding-left: 10px;
     border: 1px solid rgb(182, 179, 179);
     border-radius: 5px;
   
 }

 h1 {
     margin: 30px;
     margin-left: 180px;
     color: #254ff7;
     font-size: 35px;
 }

 a {
     font-size: 18px;
     color: #3498db;
     margin-left: 180px;

 }