 @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
body{
    background:linear-gradient(to bottom, #1249f1 0%, #3787ff 100%);
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

form {
     height: 55rem;
     width: 50rem;
     background: #fff;
     border-radius: 10px;
     margin: 8rem auto;
}

 .bob {
     width: 40rem;
     height: 4rem;
     margin: 10px 40px;
     padding-left: 10px;
     border: 1px solid rgb(182, 179, 179);
     border-radius: 5px;
   
 }
#submit{
    margin: 2rem 12.2rem;
    height: 4.5rem;
    width: 25rem;
    background:linear-gradient(to bottom, #1249f1 0%, #3787ff 100%);
    border:none;
    border-radius:.5rem;
    color:#fff;
    font-size:2rem;
}

h1 {
     margin: 30px;
    text-align: center;
     color: #000;
     font-family: 'Montserrat', sans-serif;
     font-size: 33px;
}

.signin {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .08rem;
    font-family: 'Noto Sans', sans-serif;
}
.signin a {
    color: #3498db;
    text-decoration: none;
}
.signin a:hover {
    text-decoration: underline;
}
