<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/assets/css/editprofile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <div class="sidebar position-fixed" tabindex="" id="" aria-labelledby="offcanvasExampleLabel">
        <div class="text">
            <h5 class="offcanvas-title py-4 ps-4" id="offcanvasExampleLabel">Display <a href="#">Username</a> </h5>

<!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>  -->
        </div>

        <div class="offcanvas-body p-2">
            <li><a href="#profile" class="rounded"><i class="fa fa-user"></i>My Profile</a></li>
            <li><a href="#courses" class="rounded"><i class="fa fa-book"></i>My Courses</a></li>
            <!-- <li><a href="#" class="rounded"><i class="fa fa-bank"></i>Bank Details</a></li> -->
            <li><a href="#" class="rounded"><i class="fa fa-lock"></i>Change Password</a></li>
            <!-- <li><a href="#" class="rounded"><i class="fa fa-edit"></i>Edit information</a></li> -->
            <li><a href="#" class="rounded"><i class="fa fa-link"></i>Affliate Links</a></li>
            <li><a href="#" class="rounded"><i class="fa fa-phone"></i>Quick Support</a></li>
        </div>
    </div>

    <div class="container">
        <div class="user-info">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample" style="color: #fff; margin: 20px;">
            <i class="fa fa-bars"></i>
        </a>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
    
            <div class="offcanvas-body">
                <li><a href="#" class="text-center"><i class="fa fa-user"></i>My Profile</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-book"></i>Courses</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-link"></i>Affliate Links</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-bank"></i>Bank Details</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-lock"></i>Change Password</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-edit"></i>Edit information</a></li>
                <li><a href="#" class="text-center"><i class="fa fa-phone"></i>Quick Support</a></li>
            </div>
        </div><br>
        </div>
    </div>

    <!-- Profile Page -->

    <div class="profile" id="profile">
        {% comment %} <a href="#"><i class="fa fa-pencil"></i></a> {% endcomment %}
        <div class="profileimage">
            <img src="/static/assets/img/profileimg.png" alt="" height="150" width="150">
        </div>
        <form class="userdata d-flex" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="leftside">
                <p>Full Name</p>
                <input type="text" value="" name="fullname" required>
                <p>Country</p>
                <input type="text" value="" name="country" required>
                <p>E-mail</p>
                <input type="text" value="" name="email" required>
            </div>
            <div class="rightside">
                <p>Phone Num</p>
                <input type="num" value="" name="phonenum" required>
                <p>State</p>
                <input type="text" value="" name="state" required>
                <p>Address</p>
                <input type="text" value="" name="address" required>
            </div>
            <a href="profile"><button type="submit" class="btn btn-success">Save</button></a>
        </form>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>