{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="{% static 'assets/css/register1.css' %}" rel="stylesheet">
</head>

<body>
    
        <form method="POST" action="register"><br><br>
            {% csrf_token %}
            {%for message in messages%}
            <h5> {{message}}</h5>
            {%endfor%}

            <h1>Sign Up</h1>
            <input type="text" name="username" placeholder="Username" class="bob">
            <input type="email" name="email" placeholder="E-mail" class="bob">
            <input type="password" name="password" placeholder="Create password" class="bob">
            <input type="password" name="password2" placeholder="Confirm password" class="bob">
            <input type="submit" value="Sign Up" id="submit">
            <div class="signin">
                Already registered? <a href="/login">Sign in</a>
            </div>
            
        </form>
   
</body>

</html>
